.content {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    width: 100%;
    height: 400px;
    margin: 0;
}

.title {
    color: white;
    text-align: center;
    font-size: 60px;
}

#suggestion {
    z-index: 999;
}